webradiosources.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://namespace/example/123/format" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="webradio">

    <xs:complexType>

      <xs:sequence>

        <xs:element name="source" maxOccurs="unbounded" minOccurs="0">

          <xs:complexType>

            <xs:simpleContent>

              <xs:extension base="xs:anyURI">

                <xs:attribute type="xs:string" name="name" use="required"/>

              </xs:extension>

            </xs:simpleContent>

          </xs:complexType>

        </xs:element>

      </xs:sequence>

    </xs:complexType>

  </xs:element>

</xs:schema>

